### Importing libraires

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Loading modified datasets

In [2]:
train_original = pd.read_csv('av_train.csv')
test_original = pd.read_csv('av_test.csv')

In [3]:
train = train_original.copy()
test = test_original.copy()

In [4]:
train.shape

(3235, 306)

In [5]:
test.shape

(1387, 305)

In [9]:
train_original['sentiment_class'].value_counts(normalize = True)

 0    0.525811
-1    0.237713
 1    0.236476
Name: sentiment_class, dtype: float64

In [10]:
train.head()

,id,original_text,lang,retweet_count,original_author,sentiment_class,0,1,2,3,...,290,291,292,293,294,295,296,297,298,299
0,1.245025e+18,Happy #MothersDay to all you amazing mothers o...,en,0,BeenXXPired,0,0.006416,-0.055166,0.014640,0.057922,...,-0.014150,0.036896,-0.119891,-0.061339,-0.082811,-0.000542,-0.015177,-0.012628,0.084066,-0.048818
1,1.245759e+18,Happy Mothers Day Mum - I'm sorry I can't be t...,en,1,FestiveFeeling,0,-0.024468,0.029493,0.017522,0.130514,...,-0.041716,0.013131,-0.093417,-0.025698,-0.008742,-0.025610,-0.038935,-0.047493,0.028866,-0.002012
2,1.246087e+18,Happy mothers day To all This doing a mothers ...,en,0,KrisAllenSak,-1,-0.015384,0.021916,-0.014945,0.065484,...,-0.030707,0.044758,-0.094112,-0.021941,-0.024084,-0.065188,-0.013745,0.000598,0.070435,0.001779
3,1.244803e+18,Happy mothers day to this beautiful woman...ro...,en,0,Queenuchee,0,-0.009273,0.023655,-0.021606,0.004464,...,-0.009068,-0.094727,-0.098598,-0.065059,0.011893,0.027967,-0.084996,0.036227,0.062762,-0.035108
4,1.244876e+18,Remembering the 3 most amazing ladies who made...,en,0,brittan17446794,-1,0.010554,-0.002386,0.022061,0.105533,...,0.044184,0.067835,-0.118322,-0.053866,-0.073320,-0.110515,-0.025973,-0.087958,-0.014474,-0.035879

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Columns: 306 entries, id to 299
dtypes: float64(301), int64(1), object(4)
memory usage: 7.6+ MB

### Feature Engineering

In [12]:
train['lang'].value_counts()

en                            2994
 pink Peruvian opal! via         4
WORLDS OKAYEST MOTHER! &lt       2
&gt                              2
 Find More                       2
                              ...
0.5131974685                     1
-0.045423609                     1
0.7917092448                     1
-0.1867304213                    1
-0.4265306098                    1
Name: lang, Length: 232, dtype: int64

In [10]:
train.describe()

,id,sentiment_class,0,1,2,3,4,5,6,7,...,290,291,292,293,294,295,296,297,298,299
count,3.235000e+03,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,...,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000,3235.000000
mean,1.245344e+18,-0.001236,-0.014132,-0.003686,0.013746,0.084693,-0.021536,0.021889,0.055683,-0.097788,...,-0.008041,0.045464,-0.113950,-0.056102,-0.045790,-0.051815,-0.041039,-0.029608,0.016999,-0.000940
std,8.014866e+14,0.688719,0.037181,0.034719,0.030631,0.036466,0.035512,0.033357,0.038877,0.033869,...,0.040745,0.039823,0.036194,0.047224,0.035764,0.040292,0.038222,0.036459,0.039564,0.040731
min,1.243909e+18,-1.000000,-0.198307,-0.136754,-0.134161,-0.052926,-0.160429,-0.149251,-0.115560,-0.224644,...,-0.162435,-0.109009,-0.246599,-0.239607,-0.202319,-0.231711,-0.205017,-0.173877,-0.159810,-0.178521
25%,1.244672e+18,0.000000,-0.037375,-0.025801,-0.004180,0.060710,-0.045675,-0.000541,0.030824,-0.119805,...,-0.035334,0.020020,-0.137894,-0.085604,-0.068631,-0.077501,-0.065996,-0.053633,-0.006384,-0.029408
50%,1.245406e+18,0.000000,-0.011686,-0.002957,0.014054,0.084941,-0.022930,0.022573,0.055757,-0.098307,...,-0.010718,0.047276,-0.113824,-0.054164,-0.046450,-0.051890,-0.040719,-0.030144,0.017873,-0.003741
75%,1.246039e+18,0.000000,0.009994,0.018891,0.033693,0.108029,0.001033,0.043559,0.082446,-0.076271,...,0.016986,0.071757,-0.089839,-0.023793,-0.023357,-0.024656,-0.015966,-0.006106,0.043133,0.022114
max,1.246734e+18,1.000000,0.136133,0.138835,0.194895,0.237808,0.122461,0.140828,0.196775,0.054789,...,0.206885,0.212321,0.035915,0.108040,0.103929,0.109003,0.090958,0.130951,0.228424,0.174344

In [11]:
train['lang'].value_counts()

en                                                           2994
 pink Peruvian opal! via                                        4
 Find More                                                      2
WORLDS OKAYEST MOTHER! &lt                                      2
&gt                                                             2
                                                             ...
-0.6003216828                                                   1
0.7478702688                                                    1
0.9992862228                                                    1
 look really confused ü§∑‚ÄçÔ∏è i realize I‚Äôm ALWAYS like that!       1
0.0357543811                                                    1
Name: lang, Length: 232, dtype: int64

In [12]:
train[train['lang'] == '0.6890497729']

,id,original_text,lang,retweet_count,original_author,sentiment_class,0,1,2,3,...,290,291,292,293,294,295,296,297,298,299
3048,1.244330e+18,Happy Mothers day to all the mothers... step-m...,0.6890497729,1,0,0,-0.038694,-0.054427,0.013201,0.057576,...,-0.082605,0.066862,-0.163749,-0.131661,-0.098031,-0.060232,-0.055108,0.052822,0.015218,-0.053432

In [13]:
train[train['lang'] == 'WORLDS OKAYEST MOTHER! &lt']

,id,original_text,lang,retweet_count,original_author,sentiment_class,0,1,2,3,...,290,291,292,293,294,295,296,297,298,299
1201,1.244167e+18,#MothersDay is it only me or whenever it's Mot...,WORLDS OKAYEST MOTHER! &lt,Shop &lt,|&gt,0,-0.015439,-0.035929,0.048884,0.036886,...,-0.013087,-0.009501,-0.127879,-0.054321,-0.032135,-0.006157,-0.120422,-0.067886,0.098061,0.042323
2431,1.245463e+18,"To all mothers, you're loved... You're cherish...",WORLDS OKAYEST MOTHER! &lt,Shop &lt,|&gt,0,-0.023983,0.001709,0.037286,0.137885,...,-0.023682,0.021647,-0.108019,-0.142958,-0.118815,-0.144831,-0.095228,-0.059130,0.047133,0.068307

In [14]:
##### since all the tweets are in english language hence language is not having any impact on the sentiment_class so we would drop it

In [15]:
train.isnull().sum()

id                 0
original_text      0
lang               4
retweet_count      4
original_author    0
                  ..
295                0
296                0
297                0
298                0
299                0
Length: 306, dtype: int64

In [16]:
#train = train[train['lang'] == 'en']

In [17]:
train.head()

,id,original_text,lang,retweet_count,original_author,sentiment_class,0,1,2,3,...,290,291,292,293,294,295,296,297,298,299
0,1.245025e+18,Happy #MothersDay to all you amazing mothers o...,en,0,BeenXXPired,0,0.006416,-0.055166,0.014640,0.057922,...,-0.014150,0.036896,-0.119891,-0.061339,-0.082811,-0.000542,-0.015177,-0.012628,0.084066,-0.048818
1,1.245759e+18,Happy Mothers Day Mum - I'm sorry I can't be t...,en,1,FestiveFeeling,0,-0.024468,0.029493,0.017522,0.130514,...,-0.041716,0.013131,-0.093417,-0.025698,-0.008742,-0.025610,-0.038935,-0.047493,0.028866,-0.002012
2,1.246087e+18,Happy mothers day To all This doing a mothers ...,en,0,KrisAllenSak,-1,-0.015384,0.021916,-0.014945,0.065484,...,-0.030707,0.044758,-0.094112,-0.021941,-0.024084,-0.065188,-0.013745,0.000598,0.070435,0.001779
3,1.244803e+18,Happy mothers day to this beautiful woman...ro...,en,0,Queenuchee,0,-0.009273,0.023655,-0.021606,0.004464,...,-0.009068,-0.094727,-0.098598,-0.065059,0.011893,0.027967,-0.084996,0.036227,0.062762,-0.035108
4,1.244876e+18,Remembering the 3 most amazing ladies who made...,en,0,brittan17446794,-1,0.010554,-0.002386,0.022061,0.105533,...,0.044184,0.067835,-0.118322,-0.053866,-0.073320,-0.110515,-0.025973,-0.087958,-0.014474,-0.035879

In [18]:
#test = test[test['lang'] == 'en']

In [19]:
train.isnull().sum()

id                 0
original_text      0
lang               4
retweet_count      4
original_author    0
                  ..
295                0
296                0
297                0
298                0
299                0
Length: 306, dtype: int64

In [20]:
test.isnull().sum()

id                 0
original_text      0
lang               0
retweet_count      1
original_author    0
                  ..
295                0
296                0
297                0
298                0
299                0
Length: 305, dtype: int64

In [21]:
train.drop(['id','lang'],axis = 1,inplace = True)

In [22]:
train.head()

,original_text,retweet_count,original_author,sentiment_class,0,1,2,3,4,5,...,290,291,292,293,294,295,296,297,298,299
0,Happy #MothersDay to all you amazing mothers o...,0,BeenXXPired,0,0.006416,-0.055166,0.014640,0.057922,-0.086665,0.055344,...,-0.014150,0.036896,-0.119891,-0.061339,-0.082811,-0.000542,-0.015177,-0.012628,0.084066,-0.048818
1,Happy Mothers Day Mum - I'm sorry I can't be t...,1,FestiveFeeling,0,-0.024468,0.029493,0.017522,0.130514,-0.062837,-0.038319,...,-0.041716,0.013131,-0.093417,-0.025698,-0.008742,-0.025610,-0.038935,-0.047493,0.028866,-0.002012
2,Happy mothers day To all This doing a mothers ...,0,KrisAllenSak,-1,-0.015384,0.021916,-0.014945,0.065484,-0.052906,0.015987,...,-0.030707,0.044758,-0.094112,-0.021941,-0.024084,-0.065188,-0.013745,0.000598,0.070435,0.001779
3,Happy mothers day to this beautiful woman...ro...,0,Queenuchee,0,-0.009273,0.023655,-0.021606,0.004464,0.013759,0.045759,...,-0.009068,-0.094727,-0.098598,-0.065059,0.011893,0.027967,-0.084996,0.036227,0.062762,-0.035108
4,Remembering the 3 most amazing ladies who made...,0,brittan17446794,-1,0.010554,-0.002386,0.022061,0.105533,-0.022356,0.004750,...,0.044184,0.067835,-0.118322,-0.053866,-0.073320,-0.110515,-0.025973,-0.087958,-0.014474,-0.035879

In [23]:
ID = test['id']

In [24]:
test.drop(['id','lang'],axis = 1,inplace = True)

In [25]:
test.head()

,original_text,retweet_count,original_author,0,1,2,3,4,5,6,...,290,291,292,293,294,295,296,297,298,299
0,"3. Yeah, I once cooked potatoes when I was 3 y...",0,LToddWood,-0.009056,0.058177,-0.009513,0.148785,0.016717,-0.009074,0.044200,...,-0.050294,0.047740,-0.142234,0.006983,0.002248,-0.092252,-0.036046,0.023131,0.046844,0.007710
1,"Happy Mother's Day to all the mums, step-mums,...",0,iiarushii,-0.013064,-0.025889,-0.000300,-0.001770,-0.007507,0.034047,0.053077,...,-0.036570,0.054708,-0.129725,-0.119995,-0.092763,-0.071322,-0.014796,0.070745,-0.015839,-0.023715
2,"I love the people from the UK, however, when I...",0,andreaanderegg,0.023079,-0.010248,0.021841,0.127628,-0.040408,-0.004626,0.060317,...,-0.030319,0.064993,-0.092722,-0.042093,-0.047323,-0.059122,-0.018411,-0.031332,-0.001077,-0.003673
3,Happy 81st Birthday Happy Mother‚Äôs Day to my m...,1,TheBookTweeters,-0.037815,0.003102,0.019696,0.085859,-0.056190,0.001695,0.021831,...,0.042423,0.090325,-0.091793,-0.012824,-0.052260,-0.053327,-0.015571,-0.031263,-0.041389,0.010295
4,Happy Mothers day to all those wonderful mothe...,0,andreaanderegg,-0.002450,-0.013212,0.031192,0.092508,0.001045,0.037139,0.069709,...,-0.037562,0.031356,-0.151069,-0.020633,-0.059525,-0.069373,-0.078594,-0.031411,0.039163,0.005114

In [26]:
train.original_author.value_counts()

LToddWood          369
0                  146
MoM_Mastering       99
andreaanderegg      86
LiveGoodProduct     71
                  ...
jasonleo83           1
AngelsFreak7         1
1kyancy              1
SQUARE4MEDIA         1
ZENAPRCHAMP          1
Name: original_author, Length: 1574, dtype: int64

In [27]:
train.fillna('0',inplace = True)
test.fillna('0',inplace = True)

In [28]:
train.isnull().sum()

original_text      0
retweet_count      0
original_author    0
sentiment_class    0
0                  0
                  ..
295                0
296                0
297                0
298                0
299                0
Length: 304, dtype: int64

In [29]:
import re
def select_number(sentence):
    #if re.search(r'\d+', sentence).group(0) == "Nana"
    return int(re.search(r'\d+', sentence).group(0))

retweet_count_cleaned = []
for value in train['retweet_count']:
    try:
        digit = select_number(value)
        retweet_count_cleaned.append(digit)
    except:
        retweet_count_cleaned.append(0)

In [30]:
train['retweet_count'] = retweet_count_cleaned

In [31]:
retweet_count_cleaned = []
for value in test['retweet_count']:
    try:
        digit = select_number(value)
        retweet_count_cleaned.append(digit)
    except:
        retweet_count_cleaned.append(0)
    
test['retweet_count'] = retweet_count_cleaned

In [32]:
train.head()

,original_text,retweet_count,original_author,sentiment_class,0,1,2,3,4,5,...,290,291,292,293,294,295,296,297,298,299
0,Happy #MothersDay to all you amazing mothers o...,0,BeenXXPired,0,0.006416,-0.055166,0.014640,0.057922,-0.086665,0.055344,...,-0.014150,0.036896,-0.119891,-0.061339,-0.082811,-0.000542,-0.015177,-0.012628,0.084066,-0.048818
1,Happy Mothers Day Mum - I'm sorry I can't be t...,1,FestiveFeeling,0,-0.024468,0.029493,0.017522,0.130514,-0.062837,-0.038319,...,-0.041716,0.013131,-0.093417,-0.025698,-0.008742,-0.025610,-0.038935,-0.047493,0.028866,-0.002012
2,Happy mothers day To all This doing a mothers ...,0,KrisAllenSak,-1,-0.015384,0.021916,-0.014945,0.065484,-0.052906,0.015987,...,-0.030707,0.044758,-0.094112,-0.021941,-0.024084,-0.065188,-0.013745,0.000598,0.070435,0.001779
3,Happy mothers day to this beautiful woman...ro...,0,Queenuchee,0,-0.009273,0.023655,-0.021606,0.004464,0.013759,0.045759,...,-0.009068,-0.094727,-0.098598,-0.065059,0.011893,0.027967,-0.084996,0.036227,0.062762,-0.035108
4,Remembering the 3 most amazing ladies who made...,0,brittan17446794,-1,0.010554,-0.002386,0.022061,0.105533,-0.022356,0.004750,...,0.044184,0.067835,-0.118322,-0.053866,-0.073320,-0.110515,-0.025973,-0.087958,-0.014474,-0.035879

In [33]:
test.head()

,original_text,retweet_count,original_author,0,1,2,3,4,5,6,...,290,291,292,293,294,295,296,297,298,299
0,"3. Yeah, I once cooked potatoes when I was 3 y...",0,LToddWood,-0.009056,0.058177,-0.009513,0.148785,0.016717,-0.009074,0.044200,...,-0.050294,0.047740,-0.142234,0.006983,0.002248,-0.092252,-0.036046,0.023131,0.046844,0.007710
1,"Happy Mother's Day to all the mums, step-mums,...",0,iiarushii,-0.013064,-0.025889,-0.000300,-0.001770,-0.007507,0.034047,0.053077,...,-0.036570,0.054708,-0.129725,-0.119995,-0.092763,-0.071322,-0.014796,0.070745,-0.015839,-0.023715
2,"I love the people from the UK, however, when I...",0,andreaanderegg,0.023079,-0.010248,0.021841,0.127628,-0.040408,-0.004626,0.060317,...,-0.030319,0.064993,-0.092722,-0.042093,-0.047323,-0.059122,-0.018411,-0.031332,-0.001077,-0.003673
3,Happy 81st Birthday Happy Mother‚Äôs Day to my m...,1,TheBookTweeters,-0.037815,0.003102,0.019696,0.085859,-0.056190,0.001695,0.021831,...,0.042423,0.090325,-0.091793,-0.012824,-0.052260,-0.053327,-0.015571,-0.031263,-0.041389,0.010295
4,Happy Mothers day to all those wonderful mothe...,0,andreaanderegg,-0.002450,-0.013212,0.031192,0.092508,0.001045,0.037139,0.069709,...,-0.037562,0.031356,-0.151069,-0.020633,-0.059525,-0.069373,-0.078594,-0.031411,0.039163,0.005114

In [34]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(train['original_author'])

LabelEncoder()

In [35]:
train['original_author'] = le.transform(train['original_author'])

In [36]:
test['original_author'] = le.fit_transform(test['original_author'])

### Modeling

In [37]:
X = train.drop(['original_text','sentiment_class'],axis = 1)
y = train['sentiment_class']

test.drop(['original_text',],axis = 1, inplace = True)

In [38]:
sc_X = preprocessing.StandardScaler() # created an object with the scaling class

X = sc_X.fit_transform(X)  # Here we fit and transform the X_train matrix
test = sc_X.transform(test)

In [39]:
y = y + 1

### setting parameters obtained by cross-validation

In [62]:
param = {
    'max_depth': 3,  # the maximum depth of each tree
    'eta': 0.09,  # the training step for each iteration
    'silent': 1,  # logging mode - quiet
    'objective': 'multi:softprob',  # error evaluation for multiclass training
    'min_child_weight' : 5,
    'num_class': 3}

In [63]:
import xgboost as xgb

dtrain = xgb.DMatrix(X, label=y)

In [64]:
bst = xgb.train(param, dtrain, 4000)

In [65]:
y_pred_test = bst.predict(xgb.DMatrix(test))

In [66]:
import numpy as np
best_preds = np.asarray([np.argmax(line) for line in y_pred_test])

In [67]:
y_pred_final = best_preds - 1

In [68]:
len(y_pred_final)

1387

In [69]:
test_original['id'].shape

(1387,)

In [70]:
d={'id': ID,'sentiment_class':y_pred_final}

submission = pd.DataFrame(d)
submission.to_csv('av_submission.csv',index=False)

In [71]:
submission.sentiment_class.value_counts(normalize = True)

 0    0.738284
 1    0.134102
-1    0.127614
Name: sentiment_class, dtype: float64